.t_s{
    display: none;
    min-height: 100dvh;
    min-width: 100dvw;
    background: #111;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.t_wrapper{
    width: 80%;
    text-align: justify;
    letter-spacing: 1px;
    display: block;
}
.t_t{
    color: rgb(0, 240, 0);
    text-transform: uppercase;
    font-size: 1.8rem;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }
  
  .t_t::after {
    content: "";
    width: 5px;
    height: 20px;
    background: #0f0;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }

  .s_t{
    color:#0f0;
    display: block;
    font-size: 1.5rem;
  }

  #s_w{
    visibility: hidden;
  }
  